<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>M</string>
      <string>A.sc</string>
      <string>M.sc</string>
      <string>aacute.sc</string>
      <string>abreve.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>adotbelow.sc</string>
      <string>agrave.sc</string>
      <string>amacron.sc</string>
      <string>aogonek.sc</string>
      <string>aring.sc</string>
      <string>atilde.sc</string>
      <string>Delta</string>
      <string>Delta.sc</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>C.sc</string>
      <string>ae.sc</string>
      <string>aeacute.sc</string>
      <string>cent</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>dcaron.sc</string>
      <string>dcroat.sc</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
      <string>E.sc</string>
      <string>eacute.sc</string>
      <string>ebreve.sc</string>
      <string>ecaron.sc</string>
      <string>ecircumflex.sc</string>
      <string>edieresis.sc</string>
      <string>edotaccent.sc</string>
      <string>edotbelow.sc</string>
      <string>egrave.sc</string>
      <string>emacron.sc</string>
      <string>eogonek.sc</string>
      <string>etilde.sc</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
      <string>F.sc</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>G.sc</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Nhookleft</string>
      <string>Ntilde</string>
      <string>X</string>
      <string>H.sc</string>
      <string>N.sc</string>
      <string>X.sc</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>I.sc</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>IJ</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>J.sc</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>K.sc</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>L.sc</string>
      <string>lacute.sc</string>
      <string>lcaron.sc</string>
      <string>lcommaaccent.sc</string>
      <string>ldot.sc</string>
      <string>lslash.sc</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Schwa</string>
      <string>D.sc</string>
      <string>O.sc</string>
      <string>Oslash.sc</string>
      <string>Q.sc</string>
      <string>Omega</string>
      <string>Omega.sc</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>P.sc</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>R.sc</string>
    </array>
    <key>public.kern1.R.sc</key>
    <array>
      <string>thorn.sc</string>
      <string>racute.sc</string>
      <string>rcaron.sc</string>
      <string>rcommaaccent.sc</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>S.sc</string>
      <string>sacute.sc</string>
      <string>scaron.sc</string>
      <string>scedilla.sc</string>
      <string>scircumflex.sc</string>
      <string>scommaaccent.sc</string>
      <string>germandbls.sc</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>T.sc</string>
      <string>tbar.sc</string>
      <string>tcaron.sc</string>
      <string>tcedilla.sc</string>
      <string>tcommaaccent.sc</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>U.sc</string>
      <string>uacute.sc</string>
      <string>ubreve.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>udotbelow.sc</string>
      <string>ugrave.sc</string>
      <string>uhungarumlaut.sc</string>
      <string>umacron.sc</string>
      <string>uogonek.sc</string>
      <string>uring.sc</string>
      <string>utilde.sc</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>V.sc</string>
      <string>W.sc</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>wacute.sc</string>
      <string>wcircumflex.sc</string>
      <string>wdieresis.sc</string>
      <string>wgrave.sc</string>
      <string>yacute.sc</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
      <string>Y.sc</string>
      <string>ycircumflex.sc</string>
      <string>ydieresis.sc</string>
      <string>ygrave.sc</string>
      <string>ymacron.sc</string>
      <string>ytilde.sc</string>
      <string>yen</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Z.sc</string>
      <string>zacute.sc</string>
      <string>zcaron.sc</string>
      <string>zdotaccent.sc</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>cacute.sc</string>
      <string>ccaron.sc</string>
      <string>ccedilla.sc</string>
      <string>ccircumflex.sc</string>
      <string>cdotaccent.sc</string>
      <string>gbreve.sc</string>
      <string>gcaron.sc</string>
      <string>gcircumflex.sc</string>
      <string>gcommaaccent.sc</string>
      <string>gdotaccent.sc</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>aeacute</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>j</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>f_f_i</string>
      <string>pi</string>
      <string>one.osf</string>
      <string>four.osf</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>ij</string>
      <string>jdotless</string>
      <string>jcircumflex</string>
      <string>q</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ymacron</string>
      <string>ytilde</string>
      <string>Iacute_Jacute</string>
      <string>f_f_ij</string>
      <string>f_ij</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>f_f_l</string>
      <string>f_l</string>
      <string>hbar.sc</string>
      <string>hcircumflex.sc</string>
      <string>idotless.sc</string>
      <string>iacute.sc</string>
      <string>ibreve.sc</string>
      <string>icircumflex.sc</string>
      <string>idieresis.sc</string>
      <string>idotaccent.sc</string>
      <string>idotbelow.sc</string>
      <string>igrave.sc</string>
      <string>ij.sc</string>
      <string>imacron.sc</string>
      <string>iogonek.sc</string>
      <string>itilde.sc</string>
      <string>jdotless.sc</string>
      <string>jcircumflex.sc</string>
      <string>kcommaaccent.sc</string>
      <string>kgreenlandic.sc</string>
      <string>nacute.sc</string>
      <string>napostrophe.sc</string>
      <string>ncaron.sc</string>
      <string>ncommaaccent.sc</string>
      <string>eng.sc</string>
      <string>nhookleft.sc</string>
      <string>ntilde.sc</string>
      <string>one</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>m</string>
      <string>n</string>
      <string>n.001</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>nhookleft</string>
      <string>ntilde</string>
      <string>two.osf</string>
      <string>five.osf</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>b_alt</string>
      <string>schwa</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>p</string>
      <string>thorn</string>
      <string>schwa.sc</string>
      <string>oacute.sc</string>
      <string>obreve.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>odotbelow.sc</string>
      <string>ograve.sc</string>
      <string>ohungarumlaut.sc</string>
      <string>omacron.sc</string>
      <string>oogonek.sc</string>
      <string>oslash.sc</string>
      <string>oslashacute.sc</string>
      <string>otilde.sc</string>
      <string>mu</string>
      <string>zero.osf</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>Germandbls</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>germandbls</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>c_t</string>
      <string>r_t</string>
      <string>s_t</string>
      <string>t_t</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
      <string>x</string>
      <string>three.osf</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>M</string>
      <string>A.sc</string>
      <string>M.sc</string>
      <string>aacute.sc</string>
      <string>abreve.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>adotbelow.sc</string>
      <string>agrave.sc</string>
      <string>amacron.sc</string>
      <string>aogonek.sc</string>
      <string>aring.sc</string>
      <string>atilde.sc</string>
      <string>ae.sc</string>
      <string>aeacute.sc</string>
      <string>Delta</string>
      <string>Delta.sc</string>
    </array>
    <key>public.kern2.D</key>
    <array>
      <string>dcaron.sc</string>
      <string>dcroat.sc</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>eacute.sc</string>
      <string>ebreve.sc</string>
      <string>ecaron.sc</string>
      <string>ecircumflex.sc</string>
      <string>edieresis.sc</string>
      <string>edotaccent.sc</string>
      <string>edotbelow.sc</string>
      <string>egrave.sc</string>
      <string>emacron.sc</string>
      <string>eogonek.sc</string>
      <string>etilde.sc</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>F</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Eng</string>
      <string>Nhookleft</string>
      <string>Ntilde</string>
      <string>P</string>
      <string>Thorn</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>X</string>
      <string>B.sc</string>
      <string>D.sc</string>
      <string>E.sc</string>
      <string>F.sc</string>
      <string>H.sc</string>
      <string>K.sc</string>
      <string>L.sc</string>
      <string>N.sc</string>
      <string>P.sc</string>
      <string>R.sc</string>
      <string>X.sc</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>I.sc</string>
      <string>lacute.sc</string>
      <string>lcaron.sc</string>
      <string>lcommaaccent.sc</string>
      <string>ldot.sc</string>
      <string>lslash.sc</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>J.sc</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>Schwa</string>
      <string>C.sc</string>
      <string>G.sc</string>
      <string>O.sc</string>
      <string>Oslash.sc</string>
      <string>Q.sc</string>
      <string>Omega</string>
      <string>Omega.sc</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>S.sc</string>
      <string>sacute.sc</string>
      <string>scaron.sc</string>
      <string>scedilla.sc</string>
      <string>scircumflex.sc</string>
      <string>scommaaccent.sc</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>T.sc</string>
      <string>tbar.sc</string>
      <string>tcaron.sc</string>
      <string>tcedilla.sc</string>
      <string>tcommaaccent.sc</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>U.sc</string>
      <string>uacute.sc</string>
      <string>ubreve.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>udotbelow.sc</string>
      <string>ugrave.sc</string>
      <string>uhungarumlaut.sc</string>
      <string>umacron.sc</string>
      <string>uogonek.sc</string>
      <string>uring.sc</string>
      <string>utilde.sc</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>V.sc</string>
      <string>W.sc</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>wacute.sc</string>
      <string>wcircumflex.sc</string>
      <string>wdieresis.sc</string>
      <string>wgrave.sc</string>
      <string>yacute.sc</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
      <string>Y.sc</string>
      <string>ycircumflex.sc</string>
      <string>ydieresis.sc</string>
      <string>ygrave.sc</string>
      <string>ymacron.sc</string>
      <string>ytilde.sc</string>
      <string>yen</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Z.sc</string>
      <string>zacute.sc</string>
      <string>zcaron.sc</string>
      <string>zdotaccent.sc</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>ae</string>
      <string>aeacute</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>cacute.sc</string>
      <string>ccaron.sc</string>
      <string>ccedilla.sc</string>
      <string>ccircumflex.sc</string>
      <string>cdotaccent.sc</string>
      <string>gbreve.sc</string>
      <string>gcaron.sc</string>
      <string>gcircumflex.sc</string>
      <string>gcommaaccent.sc</string>
      <string>gdotaccent.sc</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>Germandbls</string>
      <string>f</string>
      <string>germandbls</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_ij</string>
      <string>f_f_l</string>
      <string>f_ij</string>
      <string>f_l</string>
      <string>germandbls.sc</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ij</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>j</string>
      <string>kgreenlandic</string>
      <string>m</string>
      <string>n</string>
      <string>n.001</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>eng</string>
      <string>nhookleft</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>r_t</string>
      <string>pi</string>
      <string>one.osf</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>jdotless</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>b</string>
      <string>b_alt</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>thorn</string>
      <string>Iacute_Jacute</string>
      <string>hbar.sc</string>
      <string>hcircumflex.sc</string>
      <string>idotless.sc</string>
      <string>iacute.sc</string>
      <string>ibreve.sc</string>
      <string>icircumflex.sc</string>
      <string>idieresis.sc</string>
      <string>idotaccent.sc</string>
      <string>idotbelow.sc</string>
      <string>igrave.sc</string>
      <string>ij.sc</string>
      <string>imacron.sc</string>
      <string>iogonek.sc</string>
      <string>itilde.sc</string>
      <string>jdotless.sc</string>
      <string>jcircumflex.sc</string>
      <string>kcommaaccent.sc</string>
      <string>kgreenlandic.sc</string>
      <string>nacute.sc</string>
      <string>napostrophe.sc</string>
      <string>ncaron.sc</string>
      <string>ncommaaccent.sc</string>
      <string>eng.sc</string>
      <string>nhookleft.sc</string>
      <string>ntilde.sc</string>
      <string>thorn.sc</string>
      <string>racute.sc</string>
      <string>rcaron.sc</string>
      <string>rcommaaccent.sc</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>two.osf</string>
      <string>five.osf</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>eth</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>oe</string>
      <string>q</string>
      <string>c_t</string>
      <string>schwa.sc</string>
      <string>oacute.sc</string>
      <string>obreve.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>odotbelow.sc</string>
      <string>ograve.sc</string>
      <string>ohungarumlaut.sc</string>
      <string>omacron.sc</string>
      <string>oogonek.sc</string>
      <string>oslash.sc</string>
      <string>oslashacute.sc</string>
      <string>otilde.sc</string>
      <string>zero.osf</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>s_t</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>t_t</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ymacron</string>
      <string>ytilde</string>
      <string>mu</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
      <string>three.osf</string>
      <string>four.osf</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
