<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>May 29 17, 15:36</string>
      <string>glyphs.M_ay 29 17, 15_36</string>
    </array>
    <array>
      <string>Nov 29 17, 00:03</string>
      <string>glyphs.N_ov 29 17, 00_03</string>
    </array>
    <array>
      <string>May 29 17, 23:50</string>
      <string>glyphs.M_ay 29 17, 23_50</string>
    </array>
    <array>
      <string>May 30 17, 01:17</string>
      <string>glyphs.M_ay 30 17, 01_17</string>
    </array>
    <array>
      <string>Nov 28 17, 21:59</string>
      <string>glyphs.N_ov 28 17, 21_59</string>
    </array>
    <array>
      <string>Nov 28 17, 21:36</string>
      <string>glyphs.N_ov 28 17, 21_36</string>
    </array>
    <array>
      <string>p</string>
      <string>glyphs.p</string>
    </array>
    <array>
      <string>Nov 28 17, 21:50</string>
      <string>glyphs.N_ov 28 17, 21_50</string>
    </array>
    <array>
      <string>Nov 28 17, 22:54</string>
      <string>glyphs.N_ov 28 17, 22_54</string>
    </array>
    <array>
      <string>Nov 29 17, 10:56</string>
      <string>glyphs.N_ov 29 17, 10_56</string>
    </array>
    <array>
      <string>Nov 29 17, 10:58</string>
      <string>glyphs.N_ov 29 17, 10_58</string>
    </array>
    <array>
      <string>Nov 29 17, 10:31</string>
      <string>glyphs.N_ov 29 17, 10_31</string>
    </array>
    <array>
      <string>May 25 17, 15:16</string>
      <string>glyphs.M_ay 25 17, 15_16</string>
    </array>
    <array>
      <string>Jan 14 18, 15:05</string>
      <string>glyphs.J_an 14 18, 15_05</string>
    </array>
    <array>
      <string>Jul 4 17, 21:37</string>
      <string>glyphs.J_ul 4 17, 21_37</string>
    </array>
    <array>
      <string>Jul 4 17, 21:37 #1</string>
      <string>glyphs.J_ul 4 17, 21_37 #1</string>
    </array>
    <array>
      <string>Jan 30 18, 02:05</string>
      <string>glyphs.J_an 30 18, 02_05</string>
    </array>
    <array>
      <string>Light Jan 14 18, 18:07</string>
      <string>glyphs.L_ight J_an 14 18, 18_07</string>
    </array>
    <array>
      <string>Apr 27 18, 00:29</string>
      <string>glyphs.A_pr 27 18, 00_29</string>
    </array>
    <array>
      <string>Jan 22 18, 03:24</string>
      <string>glyphs.J_an 22 18, 03_24</string>
    </array>
    <array>
      <string>Jan 22 18, 03:24.background</string>
      <string>glyphs.J_an 22 18, 03_24.background</string>
    </array>
    <array>
      <string>Light Jan 22 18, 03:30</string>
      <string>glyphs.L_ight J_an 22 18, 03_30</string>
    </array>
    <array>
      <string>Light Jan 22 18, 03:30.background</string>
      <string>glyphs.L_ight J_an 22 18, 03_30.background</string>
    </array>
    <array>
      <string>May 25 17, 02:33</string>
      <string>glyphs.M_ay 25 17, 02_33</string>
    </array>
    <array>
      <string>Jun 14 17, 16:05</string>
      <string>glyphs.J_un 14 17, 16_05</string>
    </array>
    <array>
      <string>Apr 28 18, 18:43</string>
      <string>glyphs.A_pr 28 18, 18_43</string>
    </array>
    <array>
      <string>Apr 28 18, 19:47</string>
      <string>glyphs.A_pr 28 18, 19_47</string>
    </array>
    <array>
      <string>Apr 28 18, 19:47 #1</string>
      <string>glyphs.A_pr 28 18, 19_47 #1</string>
    </array>
    <array>
      <string>Apr 28 18, 19:47 #2</string>
      <string>glyphs.A_pr 28 18, 19_47 #2</string>
    </array>
    <array>
      <string>Jun 14 17, 16:14</string>
      <string>glyphs.J_un 14 17, 16_14</string>
    </array>
    <array>
      <string>Jan 22 18, 03:21</string>
      <string>glyphs.J_an 22 18, 03_21</string>
    </array>
    <array>
      <string>Light Jan 22 18, 03:29</string>
      <string>glyphs.L_ight J_an 22 18, 03_29</string>
    </array>
    <array>
      <string>Light May 25 17, 02:35</string>
      <string>glyphs.L_ight M_ay 25 17, 02_35</string>
    </array>
    <array>
      <string>Light May 25 17, 17:21</string>
      <string>glyphs.L_ight M_ay 25 17, 17_21</string>
    </array>
    <array>
      <string>Nov 29 17, 10:30</string>
      <string>glyphs.N_ov 29 17, 10_30</string>
    </array>
    <array>
      <string>Nov 29 17, 10:22</string>
      <string>glyphs.N_ov 29 17, 10_22</string>
    </array>
    <array>
      <string>Nov 29 17, 10:26</string>
      <string>glyphs.N_ov 29 17, 10_26</string>
    </array>
    <array>
      <string>Nov 29 17, 09:38</string>
      <string>glyphs.N_ov 29 17, 09_38</string>
    </array>
    <array>
      <string>Nov 29 17, 09:44</string>
      <string>glyphs.N_ov 29 17, 09_44</string>
    </array>
    <array>
      <string>Mar 14 18, 00:09</string>
      <string>glyphs.M_ar 14 18, 00_09</string>
    </array>
    <array>
      <string>Mar 14 18, 00:45</string>
      <string>glyphs.M_ar 14 18, 00_45</string>
    </array>
    <array>
      <string>Mar 14 18, 00:49</string>
      <string>glyphs.M_ar 14 18, 00_49</string>
    </array>
    <array>
      <string>Jun 14 17, 14:29</string>
      <string>glyphs.J_un 14 17, 14_29</string>
    </array>
    <array>
      <string>Jun 14 17, 14:38</string>
      <string>glyphs.J_un 14 17, 14_38</string>
    </array>
    <array>
      <string>Jun 14 17, 15:09</string>
      <string>glyphs.J_un 14 17, 15_09</string>
    </array>
    <array>
      <string>Jan 20 18, 02:31</string>
      <string>glyphs.J_an 20 18, 02_31</string>
    </array>
    <array>
      <string>May 1 18, 12:33</string>
      <string>glyphs.M_ay 1 18, 12_33</string>
    </array>
    <array>
      <string>Light Jun 14 17, 13:59</string>
      <string>glyphs.L_ight J_un 14 17, 13_59</string>
    </array>
    <array>
      <string>Jun 28 17, 14:27</string>
      <string>glyphs.J_un 28 17, 14_27</string>
    </array>
    <array>
      <string>ALT</string>
      <string>glyphs.A_L_T_</string>
    </array>
    <array>
      <string>Nov 29 17, 10:08</string>
      <string>glyphs.N_ov 29 17, 10_08</string>
    </array>
    <array>
      <string>Nov 29 17, 10:06</string>
      <string>glyphs.N_ov 29 17, 10_06</string>
    </array>
    <array>
      <string>Jun 21 17, 14:44</string>
      <string>glyphs.J_un 21 17, 14_44</string>
    </array>
    <array>
      <string>Light May 25 17, 15:29</string>
      <string>glyphs.L_ight M_ay 25 17, 15_29</string>
    </array>
  </array>
</plist>
