<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>serif_inf_der</key>
    <string>serif_inf_der.glif</string>
    <key>serif_inf_izq</key>
    <string>serif_inf_izq.glif</string>
  </dict>
</plist>
