<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>asterisk</key>
      <integer>-100</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>quotedblleft</key>
      <integer>-70</integer>
    </dict>
    <key>M.sc</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
    </dict>
    <key>asciicircum</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>M</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-90</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-50</integer>
    </dict>
    <key>divisionslash</key>
    <dict>
      <key>one</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-40</integer>
    </dict>
    <key>ellipsis</key>
    <dict>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
    </dict>
    <key>florin</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>increment</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-90</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-30</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>asciicircum</key>
      <integer>-50</integer>
      <key>asterisk</key>
      <integer>-90</integer>
      <key>backslash</key>
      <integer>-50</integer>
      <key>florin</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>-110</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.i</key>
      <integer>-10</integer>
      <key>public.kern2.p</key>
      <integer>-40</integer>
      <key>public.kern2.quoteright</key>
      <integer>-50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>quotedblleft</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-60</integer>
      <key>trademark</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>M</key>
      <integer>-120</integer>
      <key>comma</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>M</key>
      <integer>-70</integer>
      <key>comma</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.quoteright</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-150</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>quotedblleft</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>backslash</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
      <key>trademark</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>M</key>
      <integer>-60</integer>
      <key>period</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>M.sc</key>
      <integer>-70</integer>
      <key>comma</key>
      <integer>-50</integer>
      <key>divide</key>
      <integer>-50</integer>
      <key>increment</key>
      <integer>-50</integer>
      <key>period</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>quotedblbase</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>M</key>
      <integer>-50</integer>
      <key>backslash</key>
      <integer>0</integer>
      <key>divisionslash</key>
      <integer>-10</integer>
      <key>ellipsis</key>
      <integer>-50</integer>
      <key>increment</key>
      <integer>-40</integer>
      <key>integral</key>
      <integer>-60</integer>
      <key>period</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>quotedblbase</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>divide</key>
      <integer>-50</integer>
      <key>divisionslash</key>
      <integer>-50</integer>
      <key>ellipsis</key>
      <integer>-50</integer>
      <key>florin</key>
      <integer>-80</integer>
      <key>increment</key>
      <integer>-80</integer>
      <key>integral</key>
      <integer>-50</integer>
      <key>numbersign</key>
      <integer>-60</integer>
      <key>period</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.p</key>
      <integer>-40</integer>
      <key>quotedblbase</key>
      <integer>-60</integer>
      <key>underscore</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>divisionslash</key>
      <integer>-80</integer>
      <key>ellipsis</key>
      <integer>-50</integer>
      <key>integral</key>
      <integer>-50</integer>
      <key>period</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.p</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>quotedblleft</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>integral</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>eight</key>
      <integer>30</integer>
      <key>four</key>
      <integer>30</integer>
      <key>nine</key>
      <integer>30</integer>
      <key>one</key>
      <integer>20</integer>
      <key>public.kern2.l</key>
      <integer>40</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>seven</key>
      <integer>40</integer>
      <key>six</key>
      <integer>30</integer>
      <key>three</key>
      <integer>30</integer>
      <key>two</key>
      <integer>30</integer>
      <key>zero</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-60</integer>
      <key>quotedblbase</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>four</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.p</key>
      <integer>-50</integer>
      <key>public.kern2.quoteright</key>
      <integer>-40</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-130</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>asterisk</key>
      <integer>-30</integer>
      <key>integral</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.quoteright</key>
      <integer>-50</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-70</integer>
      <key>quotedblleft</key>
      <integer>-50</integer>
      <key>quotesingle</key>
      <integer>-90</integer>
      <key>underscore</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.s</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>eight</key>
      <integer>-40</integer>
      <key>four</key>
      <integer>-60</integer>
      <key>nine</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.i</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.p</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.x</key>
      <integer>-50</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>space</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>comma</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.quotesingle</key>
      <integer>-60</integer>
      <key>quotedblbase</key>
      <integer>-50</integer>
      <key>underscore</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <integer>-50</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.U</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
    </dict>
    <key>quotedblbase</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>quotedblleft</key>
    <dict>
      <key>M</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.H</key>
      <integer>0</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
    </dict>
    <key>quotedblright</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>divisionslash</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>underscore</key>
      <integer>-50</integer>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.quotesingle</key>
      <integer>0</integer>
      <key>quotedblbase</key>
      <integer>0</integer>
      <key>quotedblleft</key>
      <integer>0</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-50</integer>
    </dict>
  </dict>
</plist>
