<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Nov 29 17, 00:00</string>
      <string>glyphs.N_ov 29 17, 00_00</string>
    </array>
    <array>
      <string>May 29 17, 23:50</string>
      <string>glyphs.M_ay 29 17, 23_50</string>
    </array>
    <array>
      <string>Feb 2 18, 01:54</string>
      <string>glyphs.F_eb 2 18, 01_54</string>
    </array>
    <array>
      <string>Nov 22 17, 09:40</string>
      <string>glyphs.N_ov 22 17, 09_40</string>
    </array>
    <array>
      <string>May 30 17, 01:17</string>
      <string>glyphs.M_ay 30 17, 01_17</string>
    </array>
    <array>
      <string>Feb 2 18, 02:03</string>
      <string>glyphs.F_eb 2 18, 02_03</string>
    </array>
    <array>
      <string>Feb 2 18, 01:53</string>
      <string>glyphs.F_eb 2 18, 01_53</string>
    </array>
    <array>
      <string>Mar 6 18, 23:53</string>
      <string>glyphs.M_ar 6 18, 23_53</string>
    </array>
    <array>
      <string>Mar 6 18, 23:54</string>
      <string>glyphs.M_ar 6 18, 23_54</string>
    </array>
    <array>
      <string>Apr 27 17, 21:51</string>
      <string>glyphs.A_pr 27 17, 21_51</string>
    </array>
    <array>
      <string>Apr 28 17, 00:49</string>
      <string>glyphs.A_pr 28 17, 00_49</string>
    </array>
    <array>
      <string>Apr 28 17, 00:49 #1</string>
      <string>glyphs.A_pr 28 17, 00_49 #1</string>
    </array>
    <array>
      <string>Apr 27 17, 21:51 #1</string>
      <string>glyphs.A_pr 27 17, 21_51 #1</string>
    </array>
    <array>
      <string>Apr 28 17, 00:49 #2</string>
      <string>glyphs.A_pr 28 17, 00_49 #2</string>
    </array>
    <array>
      <string>Apr 27 17, 21:51 #2</string>
      <string>glyphs.A_pr 27 17, 21_51 #2</string>
    </array>
    <array>
      <string>Apr 28 17, 00:49 #3</string>
      <string>glyphs.A_pr 28 17, 00_49 #3</string>
    </array>
    <array>
      <string>Bold Jun 7 17, 15:40</string>
      <string>glyphs.B_old J_un 7 17, 15_40</string>
    </array>
    <array>
      <string>Mar 6 18, 23:52</string>
      <string>glyphs.M_ar 6 18, 23_52</string>
    </array>
    <array>
      <string>Feb 2 18, 02:07</string>
      <string>glyphs.F_eb 2 18, 02_07</string>
    </array>
    <array>
      <string>Apr 17 17, 11:28</string>
      <string>glyphs.A_pr 17 17, 11_28</string>
    </array>
    <array>
      <string>Regular May 23 17, 01:48</string>
      <string>glyphs.R_egular M_ay 23 17, 01_48</string>
    </array>
    <array>
      <string>Apr 17 17, 11:28 #1</string>
      <string>glyphs.A_pr 17 17, 11_28 #1</string>
    </array>
    <array>
      <string>Regular May 23 17, 01:48 #1</string>
      <string>glyphs.R_egular M_ay 23 17, 01_48 #1</string>
    </array>
    <array>
      <string>Apr 17 17, 11:28 #2</string>
      <string>glyphs.A_pr 17 17, 11_28 #2</string>
    </array>
    <array>
      <string>Regular May 23 17, 01:48 #2</string>
      <string>glyphs.R_egular M_ay 23 17, 01_48 #2</string>
    </array>
    <array>
      <string>Apr 17 17, 11:28 #3</string>
      <string>glyphs.A_pr 17 17, 11_28 #3</string>
    </array>
    <array>
      <string>Regular May 23 17, 01:48 #3</string>
      <string>glyphs.R_egular M_ay 23 17, 01_48 #3</string>
    </array>
    <array>
      <string>Alt</string>
      <string>glyphs.A_lt</string>
    </array>
    <array>
      <string>Apr 25 17, 22:14</string>
      <string>glyphs.A_pr 25 17, 22_14</string>
    </array>
    <array>
      <string>Apr 26 17, 23:54</string>
      <string>glyphs.A_pr 26 17, 23_54</string>
    </array>
    <array>
      <string>Alt #1</string>
      <string>glyphs.A_lt #1</string>
    </array>
    <array>
      <string>Apr 25 17, 22:14 #1</string>
      <string>glyphs.A_pr 25 17, 22_14 #1</string>
    </array>
    <array>
      <string>Apr 26 17, 23:54 #1</string>
      <string>glyphs.A_pr 26 17, 23_54 #1</string>
    </array>
    <array>
      <string>May 27 17, 20:59</string>
      <string>glyphs.M_ay 27 17, 20_59</string>
    </array>
    <array>
      <string>Alt #2</string>
      <string>glyphs.A_lt #2</string>
    </array>
    <array>
      <string>Apr 25 17, 22:14 #2</string>
      <string>glyphs.A_pr 25 17, 22_14 #2</string>
    </array>
    <array>
      <string>Apr 26 17, 23:54 #2</string>
      <string>glyphs.A_pr 26 17, 23_54 #2</string>
    </array>
    <array>
      <string>Alt #3</string>
      <string>glyphs.A_lt #3</string>
    </array>
    <array>
      <string>Apr 25 17, 22:14 #3</string>
      <string>glyphs.A_pr 25 17, 22_14 #3</string>
    </array>
    <array>
      <string>Apr 26 17, 23:54 #3</string>
      <string>glyphs.A_pr 26 17, 23_54 #3</string>
    </array>
    <array>
      <string>May 27 17, 20:59 #1</string>
      <string>glyphs.M_ay 27 17, 20_59 #1</string>
    </array>
    <array>
      <string>Nov 28 17, 22:01</string>
      <string>glyphs.N_ov 28 17, 22_01</string>
    </array>
    <array>
      <string>Mar 22 18, 22:36</string>
      <string>glyphs.M_ar 22 18, 22_36</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:12</string>
      <string>glyphs.R_egular A_pr 27 17, 20_12</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:12 #1</string>
      <string>glyphs.R_egular A_pr 27 17, 20_12 #1</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:12 #2</string>
      <string>glyphs.R_egular A_pr 27 17, 20_12 #2</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:12 #3</string>
      <string>glyphs.R_egular A_pr 27 17, 20_12 #3</string>
    </array>
    <array>
      <string>Apr 27 17, 17:44</string>
      <string>glyphs.A_pr 27 17, 17_44</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:02</string>
      <string>glyphs.R_egular A_pr 27 17, 20_02</string>
    </array>
    <array>
      <string>Apr 27 17, 17:44 #1</string>
      <string>glyphs.A_pr 27 17, 17_44 #1</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:02 #1</string>
      <string>glyphs.R_egular A_pr 27 17, 20_02 #1</string>
    </array>
    <array>
      <string>Apr 27 17, 17:44 #2</string>
      <string>glyphs.A_pr 27 17, 17_44 #2</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:02 #2</string>
      <string>glyphs.R_egular A_pr 27 17, 20_02 #2</string>
    </array>
    <array>
      <string>Apr 27 17, 17:44 #3</string>
      <string>glyphs.A_pr 27 17, 17_44 #3</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:02 #3</string>
      <string>glyphs.R_egular A_pr 27 17, 20_02 #3</string>
    </array>
    <array>
      <string>Apr 27 17, 21:56</string>
      <string>glyphs.A_pr 27 17, 21_56</string>
    </array>
    <array>
      <string>Apr 27 17, 21:56 #1</string>
      <string>glyphs.A_pr 27 17, 21_56 #1</string>
    </array>
    <array>
      <string>Apr 27 17, 21:56 #2</string>
      <string>glyphs.A_pr 27 17, 21_56 #2</string>
    </array>
    <array>
      <string>Apr 27 17, 21:56 #3</string>
      <string>glyphs.A_pr 27 17, 21_56 #3</string>
    </array>
    <array>
      <string>Nov 22 17, 09:59</string>
      <string>glyphs.N_ov 22 17, 09_59</string>
    </array>
    <array>
      <string>Apr 27 17, 19:58</string>
      <string>glyphs.A_pr 27 17, 19_58</string>
    </array>
    <array>
      <string>Apr 27 17, 19:58 #1</string>
      <string>glyphs.A_pr 27 17, 19_58 #1</string>
    </array>
    <array>
      <string>May 29 17, 15:39</string>
      <string>glyphs.M_ay 29 17, 15_39</string>
    </array>
    <array>
      <string>Apr 27 17, 19:58 #2</string>
      <string>glyphs.A_pr 27 17, 19_58 #2</string>
    </array>
    <array>
      <string>Apr 27 17, 19:58 #3</string>
      <string>glyphs.A_pr 27 17, 19_58 #3</string>
    </array>
    <array>
      <string>May 29 17, 15:39 #1</string>
      <string>glyphs.M_ay 29 17, 15_39 #1</string>
    </array>
    <array>
      <string>Jun 21 17, 23:07</string>
      <string>glyphs.J_un 21 17, 23_07</string>
    </array>
    <array>
      <string>Apr 17 17, 12:42</string>
      <string>glyphs.A_pr 17 17, 12_42</string>
    </array>
    <array>
      <string>Apr 17 17, 12:48</string>
      <string>glyphs.A_pr 17 17, 12_48</string>
    </array>
    <array>
      <string>Apr 17 17, 12:42 #1</string>
      <string>glyphs.A_pr 17 17, 12_42 #1</string>
    </array>
    <array>
      <string>Apr 17 17, 12:48 #1</string>
      <string>glyphs.A_pr 17 17, 12_48 #1</string>
    </array>
    <array>
      <string>Apr 17 17, 12:42 #2</string>
      <string>glyphs.A_pr 17 17, 12_42 #2</string>
    </array>
    <array>
      <string>Apr 17 17, 12:48 #2</string>
      <string>glyphs.A_pr 17 17, 12_48 #2</string>
    </array>
    <array>
      <string>Apr 17 17, 12:42 #3</string>
      <string>glyphs.A_pr 17 17, 12_42 #3</string>
    </array>
    <array>
      <string>Apr 17 17, 12:48 #3</string>
      <string>glyphs.A_pr 17 17, 12_48 #3</string>
    </array>
    <array>
      <string>Apr 17 17, 11:00</string>
      <string>glyphs.A_pr 17 17, 11_00</string>
    </array>
    <array>
      <string>Apr 17 17, 11:48</string>
      <string>glyphs.A_pr 17 17, 11_48</string>
    </array>
    <array>
      <string>Apr 17 17, 11:00 #1</string>
      <string>glyphs.A_pr 17 17, 11_00 #1</string>
    </array>
    <array>
      <string>Apr 17 17, 11:48 #1</string>
      <string>glyphs.A_pr 17 17, 11_48 #1</string>
    </array>
    <array>
      <string>Apr 17 17, 11:00 #2</string>
      <string>glyphs.A_pr 17 17, 11_00 #2</string>
    </array>
    <array>
      <string>Apr 17 17, 11:48 #2</string>
      <string>glyphs.A_pr 17 17, 11_48 #2</string>
    </array>
    <array>
      <string>Apr 17 17, 11:00 #3</string>
      <string>glyphs.A_pr 17 17, 11_00 #3</string>
    </array>
    <array>
      <string>Apr 17 17, 11:48 #3</string>
      <string>glyphs.A_pr 17 17, 11_48 #3</string>
    </array>
    <array>
      <string>Feb 2 18, 02:02</string>
      <string>glyphs.F_eb 2 18, 02_02</string>
    </array>
    <array>
      <string>Nov 28 17, 21:52</string>
      <string>glyphs.N_ov 28 17, 21_52</string>
    </array>
    <array>
      <string>Nov 28 17, 22:51</string>
      <string>glyphs.N_ov 28 17, 22_51</string>
    </array>
    <array>
      <string>Dec 29 17, 10:44</string>
      <string>glyphs.D_ec 29 17, 10_44</string>
    </array>
    <array>
      <string>May 30 17, 01:12</string>
      <string>glyphs.M_ay 30 17, 01_12</string>
    </array>
    <array>
      <string>May 30 17, 01:12 #1</string>
      <string>glyphs.M_ay 30 17, 01_12 #1</string>
    </array>
    <array>
      <string>Nov 29 17, 11:01</string>
      <string>glyphs.N_ov 29 17, 11_01</string>
    </array>
    <array>
      <string>Apr 5 17, 15:40</string>
      <string>glyphs.A_pr 5 17, 15_40</string>
    </array>
    <array>
      <string>Regular Apr 19 17, 00:37</string>
      <string>glyphs.R_egular A_pr 19 17, 00_37</string>
    </array>
    <array>
      <string>May 24 17, 12:22</string>
      <string>glyphs.M_ay 24 17, 12_22</string>
    </array>
    <array>
      <string>Apr 5 17, 15:40 #1</string>
      <string>glyphs.A_pr 5 17, 15_40 #1</string>
    </array>
    <array>
      <string>Regular Apr 19 17, 00:37 #1</string>
      <string>glyphs.R_egular A_pr 19 17, 00_37 #1</string>
    </array>
    <array>
      <string>May 24 17, 12:22 #1</string>
      <string>glyphs.M_ay 24 17, 12_22 #1</string>
    </array>
    <array>
      <string>Apr 5 17, 15:40 #2</string>
      <string>glyphs.A_pr 5 17, 15_40 #2</string>
    </array>
    <array>
      <string>Regular Apr 19 17, 00:37 #2</string>
      <string>glyphs.R_egular A_pr 19 17, 00_37 #2</string>
    </array>
    <array>
      <string>May 24 17, 12:22 #2</string>
      <string>glyphs.M_ay 24 17, 12_22 #2</string>
    </array>
    <array>
      <string>Apr 5 17, 15:40 #3</string>
      <string>glyphs.A_pr 5 17, 15_40 #3</string>
    </array>
    <array>
      <string>Regular Apr 19 17, 00:37 #3</string>
      <string>glyphs.R_egular A_pr 19 17, 00_37 #3</string>
    </array>
    <array>
      <string>May 24 17, 12:22 #3</string>
      <string>glyphs.M_ay 24 17, 12_22 #3</string>
    </array>
    <array>
      <string>May 25 17, 15:16</string>
      <string>glyphs.M_ay 25 17, 15_16</string>
    </array>
    <array>
      <string>Jan 14 18, 15:05</string>
      <string>glyphs.J_an 14 18, 15_05</string>
    </array>
    <array>
      <string>alt</string>
      <string>glyphs.alt</string>
    </array>
    <array>
      <string>Jul 4 17, 21:37</string>
      <string>glyphs.J_ul 4 17, 21_37</string>
    </array>
    <array>
      <string>Jan 30 18, 02:04</string>
      <string>glyphs.J_an 30 18, 02_04</string>
    </array>
    <array>
      <string>Regular Apr 19 17, 00:37 #4</string>
      <string>glyphs.R_egular A_pr 19 17, 00_37 #4</string>
    </array>
    <array>
      <string>Nov 22 17, 10:46</string>
      <string>glyphs.N_ov 22 17, 10_46</string>
    </array>
    <array>
      <string>Apr 27 18, 00:28</string>
      <string>glyphs.A_pr 27 18, 00_28</string>
    </array>
    <array>
      <string>Jan 18 18, 23:52</string>
      <string>glyphs.J_an 18 18, 23_52</string>
    </array>
    <array>
      <string>Bold Jan 22 18, 03:30</string>
      <string>glyphs.B_old J_an 22 18, 03_30</string>
    </array>
    <array>
      <string>Nov 22 17, 10:34</string>
      <string>glyphs.N_ov 22 17, 10_34</string>
    </array>
    <array>
      <string>May 25 17, 02:33</string>
      <string>glyphs.M_ay 25 17, 02_33</string>
    </array>
    <array>
      <string>Jun 14 17, 16:12</string>
      <string>glyphs.J_un 14 17, 16_12</string>
    </array>
    <array>
      <string>Apr 20 17, 15:37</string>
      <string>glyphs.A_pr 20 17, 15_37</string>
    </array>
    <array>
      <string>Apr 25 17, 22:05</string>
      <string>glyphs.A_pr 25 17, 22_05</string>
    </array>
    <array>
      <string>Regular May 24 17, 12:24</string>
      <string>glyphs.R_egular M_ay 24 17, 12_24</string>
    </array>
    <array>
      <string>Alt #4</string>
      <string>glyphs.A_lt #4</string>
    </array>
    <array>
      <string>Apr 20 17, 15:37 #1</string>
      <string>glyphs.A_pr 20 17, 15_37 #1</string>
    </array>
    <array>
      <string>Apr 25 17, 22:05 #1</string>
      <string>glyphs.A_pr 25 17, 22_05 #1</string>
    </array>
    <array>
      <string>Regular May 24 17, 12:24 #1</string>
      <string>glyphs.R_egular M_ay 24 17, 12_24 #1</string>
    </array>
    <array>
      <string>Alt #5</string>
      <string>glyphs.A_lt #5</string>
    </array>
    <array>
      <string>Apr 20 17, 15:37 #2</string>
      <string>glyphs.A_pr 20 17, 15_37 #2</string>
    </array>
    <array>
      <string>Apr 25 17, 22:05 #2</string>
      <string>glyphs.A_pr 25 17, 22_05 #2</string>
    </array>
    <array>
      <string>Regular May 24 17, 12:24 #2</string>
      <string>glyphs.R_egular M_ay 24 17, 12_24 #2</string>
    </array>
    <array>
      <string>Alt #6</string>
      <string>glyphs.A_lt #6</string>
    </array>
    <array>
      <string>Apr 20 17, 15:37 #3</string>
      <string>glyphs.A_pr 20 17, 15_37 #3</string>
    </array>
    <array>
      <string>Apr 25 17, 22:05 #3</string>
      <string>glyphs.A_pr 25 17, 22_05 #3</string>
    </array>
    <array>
      <string>Regular May 24 17, 12:24 #3</string>
      <string>glyphs.R_egular M_ay 24 17, 12_24 #3</string>
    </array>
    <array>
      <string>Jun 21 17, 12:09</string>
      <string>glyphs.J_un 21 17, 12_09</string>
    </array>
    <array>
      <string>May 25 17, 00:01</string>
      <string>glyphs.M_ay 25 17, 00_01</string>
    </array>
    <array>
      <string>May 25 17, 00:01 #1</string>
      <string>glyphs.M_ay 25 17, 00_01 #1</string>
    </array>
    <array>
      <string>Apr 7 17, 00:16</string>
      <string>glyphs.A_pr 7 17, 00_16</string>
    </array>
    <array>
      <string>Apr 27 17, 22:50</string>
      <string>glyphs.A_pr 27 17, 22_50</string>
    </array>
    <array>
      <string>Apr 6 17, 23:52</string>
      <string>glyphs.A_pr 6 17, 23_52</string>
    </array>
    <array>
      <string>Apr 7 17, 00:16 #1</string>
      <string>glyphs.A_pr 7 17, 00_16 #1</string>
    </array>
    <array>
      <string>Apr 27 17, 22:50 #1</string>
      <string>glyphs.A_pr 27 17, 22_50 #1</string>
    </array>
    <array>
      <string>May 25 17, 16:13</string>
      <string>glyphs.M_ay 25 17, 16_13</string>
    </array>
    <array>
      <string>May 25 17, 16:13 #1</string>
      <string>glyphs.M_ay 25 17, 16_13 #1</string>
    </array>
    <array>
      <string>Apr 27 17, 22:50 #2</string>
      <string>glyphs.A_pr 27 17, 22_50 #2</string>
    </array>
    <array>
      <string>Apr 7 17, 00:16 #2</string>
      <string>glyphs.A_pr 7 17, 00_16 #2</string>
    </array>
    <array>
      <string>Apr 6 17, 23:52 #1</string>
      <string>glyphs.A_pr 6 17, 23_52 #1</string>
    </array>
    <array>
      <string>Apr 27 17, 22:50 #3</string>
      <string>glyphs.A_pr 27 17, 22_50 #3</string>
    </array>
    <array>
      <string>sinfuste</string>
      <string>glyphs.sinfuste</string>
    </array>
    <array>
      <string>Feb 6 18, 13:48</string>
      <string>glyphs.F_eb 6 18, 13_48</string>
    </array>
    <array>
      <string>Apr 28 18, 19:06</string>
      <string>glyphs.A_pr 28 18, 19_06</string>
    </array>
    <array>
      <string>Jul 9 18, 11:43</string>
      <string>glyphs.J_ul 9 18, 11_43</string>
    </array>
    <array>
      <string>Dec 7 18, 15:20</string>
      <string>glyphs.D_ec 7 18, 15_20</string>
    </array>
    <array>
      <string>Dec 7 18, 15:24</string>
      <string>glyphs.D_ec 7 18, 15_24</string>
    </array>
    <array>
      <string>Apr 7 17, 00:16 #3</string>
      <string>glyphs.A_pr 7 17, 00_16 #3</string>
    </array>
    <array>
      <string>Apr 27 17, 22:50 #4</string>
      <string>glyphs.A_pr 27 17, 22_50 #4</string>
    </array>
    <array>
      <string>May 25 17, 16:13 #2</string>
      <string>glyphs.M_ay 25 17, 16_13 #2</string>
    </array>
    <array>
      <string>Apr 27 17, 22:50 #5</string>
      <string>glyphs.A_pr 27 17, 22_50 #5</string>
    </array>
    <array>
      <string>Apr 7 17, 00:16 #4</string>
      <string>glyphs.A_pr 7 17, 00_16 #4</string>
    </array>
    <array>
      <string>Apr 6 17, 23:52 #2</string>
      <string>glyphs.A_pr 6 17, 23_52 #2</string>
    </array>
    <array>
      <string>Apr 27 17, 22:50 #6</string>
      <string>glyphs.A_pr 27 17, 22_50 #6</string>
    </array>
    <array>
      <string>Jun 14 17, 16:11</string>
      <string>glyphs.J_un 14 17, 16_11</string>
    </array>
    <array>
      <string>Jul 7 17, 22:43</string>
      <string>glyphs.J_ul 7 17, 22_43</string>
    </array>
    <array>
      <string>Bold Jan 22 18, 03:29</string>
      <string>glyphs.B_old J_an 22 18, 03_29</string>
    </array>
    <array>
      <string>Regular Apr 19 17, 00:37 #5</string>
      <string>glyphs.R_egular A_pr 19 17, 00_37 #5</string>
    </array>
    <array>
      <string>Regular Apr 19 17, 00:37 #6</string>
      <string>glyphs.R_egular A_pr 19 17, 00_37 #6</string>
    </array>
    <array>
      <string>Regular Apr 19 17, 00:37 #7</string>
      <string>glyphs.R_egular A_pr 19 17, 00_37 #7</string>
    </array>
    <array>
      <string>Nov 22 17, 10:38</string>
      <string>glyphs.N_ov 22 17, 10_38</string>
    </array>
    <array>
      <string>Jun 14 17, 17:24</string>
      <string>glyphs.J_un 14 17, 17_24</string>
    </array>
    <array>
      <string>Light May 25 17, 02:35</string>
      <string>glyphs.L_ight M_ay 25 17, 02_35</string>
    </array>
    <array>
      <string>Apr 7 17, 00:12</string>
      <string>glyphs.A_pr 7 17, 00_12</string>
    </array>
    <array>
      <string>Apr 7 17, 00:12 #1</string>
      <string>glyphs.A_pr 7 17, 00_12 #1</string>
    </array>
    <array>
      <string>Apr 7 17, 00:12 #2</string>
      <string>glyphs.A_pr 7 17, 00_12 #2</string>
    </array>
    <array>
      <string>Apr 7 17, 00:12 #3</string>
      <string>glyphs.A_pr 7 17, 00_12 #3</string>
    </array>
    <array>
      <string>Apr 7 17, 01:48</string>
      <string>glyphs.A_pr 7 17, 01_48</string>
    </array>
    <array>
      <string>Regular Apr 7 17, 02:08</string>
      <string>glyphs.R_egular A_pr 7 17, 02_08</string>
    </array>
    <array>
      <string>  </string>
      <string>glyphs.  </string>
    </array>
    <array>
      <string>Apr 7 17, 01:48 #1</string>
      <string>glyphs.A_pr 7 17, 01_48 #1</string>
    </array>
    <array>
      <string>Regular Apr 7 17, 02:08 #1</string>
      <string>glyphs.R_egular A_pr 7 17, 02_08 #1</string>
    </array>
    <array>
      <string>   #1</string>
      <string>glyphs.   #1</string>
    </array>
    <array>
      <string>Apr 7 17, 01:48 #2</string>
      <string>glyphs.A_pr 7 17, 01_48 #2</string>
    </array>
    <array>
      <string>Regular Apr 7 17, 02:08 #2</string>
      <string>glyphs.R_egular A_pr 7 17, 02_08 #2</string>
    </array>
    <array>
      <string>   #2</string>
      <string>glyphs.   #2</string>
    </array>
    <array>
      <string>Apr 7 17, 01:48 #3</string>
      <string>glyphs.A_pr 7 17, 01_48 #3</string>
    </array>
    <array>
      <string>Regular Apr 7 17, 02:08 #3</string>
      <string>glyphs.R_egular A_pr 7 17, 02_08 #3</string>
    </array>
    <array>
      <string>   #3</string>
      <string>glyphs.   #3</string>
    </array>
    <array>
      <string>Light May 25 17, 17:21</string>
      <string>glyphs.L_ight M_ay 25 17, 17_21</string>
    </array>
    <array>
      <string>Nov 29 17, 10:29</string>
      <string>glyphs.N_ov 29 17, 10_29</string>
    </array>
    <array>
      <string>Nov 29 17, 10:28</string>
      <string>glyphs.N_ov 29 17, 10_28</string>
    </array>
    <array>
      <string>Nov 29 17, 09:31</string>
      <string>glyphs.N_ov 29 17, 09_31</string>
    </array>
    <array>
      <string>Nov 29 17, 09:36</string>
      <string>glyphs.N_ov 29 17, 09_36</string>
    </array>
    <array>
      <string>Apr 26 17, 23:56</string>
      <string>glyphs.A_pr 26 17, 23_56</string>
    </array>
    <array>
      <string>Apr 26 17, 23:56 #1</string>
      <string>glyphs.A_pr 26 17, 23_56 #1</string>
    </array>
    <array>
      <string>Apr 26 17, 23:56 #2</string>
      <string>glyphs.A_pr 26 17, 23_56 #2</string>
    </array>
    <array>
      <string>Apr 26 17, 23:56 #3</string>
      <string>glyphs.A_pr 26 17, 23_56 #3</string>
    </array>
    <array>
      <string>Mar 13 18, 23:05</string>
      <string>glyphs.M_ar 13 18, 23_05</string>
    </array>
    <array>
      <string>Mar 13 18, 23:05.background</string>
      <string>glyphs.M_ar 13 18, 23_05.background</string>
    </array>
    <array>
      <string>Apr 28 17, 00:49 #4</string>
      <string>glyphs.A_pr 28 17, 00_49 #4</string>
    </array>
    <array>
      <string>Apr 27 17, 21:51 #3</string>
      <string>glyphs.A_pr 27 17, 21_51 #3</string>
    </array>
    <array>
      <string>Apr 28 17, 00:49 #5</string>
      <string>glyphs.A_pr 28 17, 00_49 #5</string>
    </array>
    <array>
      <string>Apr 27 17, 21:51 #4</string>
      <string>glyphs.A_pr 27 17, 21_51 #4</string>
    </array>
    <array>
      <string>Apr 28 17, 00:49 #6</string>
      <string>glyphs.A_pr 28 17, 00_49 #6</string>
    </array>
    <array>
      <string>Apr 17 17, 11:28 #4</string>
      <string>glyphs.A_pr 17 17, 11_28 #4</string>
    </array>
    <array>
      <string>Regular May 23 17, 01:48 #4</string>
      <string>glyphs.R_egular M_ay 23 17, 01_48 #4</string>
    </array>
    <array>
      <string>Apr 17 17, 11:28 #5</string>
      <string>glyphs.A_pr 17 17, 11_28 #5</string>
    </array>
    <array>
      <string>Regular May 23 17, 01:48 #5</string>
      <string>glyphs.R_egular M_ay 23 17, 01_48 #5</string>
    </array>
    <array>
      <string>Apr 17 17, 11:28 #6</string>
      <string>glyphs.A_pr 17 17, 11_28 #6</string>
    </array>
    <array>
      <string>Regular May 23 17, 01:48 #6</string>
      <string>glyphs.R_egular M_ay 23 17, 01_48 #6</string>
    </array>
    <array>
      <string>Alt #7</string>
      <string>glyphs.A_lt #7</string>
    </array>
    <array>
      <string>Apr 25 17, 22:14 #4</string>
      <string>glyphs.A_pr 25 17, 22_14 #4</string>
    </array>
    <array>
      <string>Apr 26 17, 23:54 #4</string>
      <string>glyphs.A_pr 26 17, 23_54 #4</string>
    </array>
    <array>
      <string>Alt #8</string>
      <string>glyphs.A_lt #8</string>
    </array>
    <array>
      <string>Apr 25 17, 22:14 #5</string>
      <string>glyphs.A_pr 25 17, 22_14 #5</string>
    </array>
    <array>
      <string>Apr 26 17, 23:54 #5</string>
      <string>glyphs.A_pr 26 17, 23_54 #5</string>
    </array>
    <array>
      <string>Alt #9</string>
      <string>glyphs.A_lt #9</string>
    </array>
    <array>
      <string>Apr 25 17, 22:14 #6</string>
      <string>glyphs.A_pr 25 17, 22_14 #6</string>
    </array>
    <array>
      <string>Apr 26 17, 23:54 #6</string>
      <string>glyphs.A_pr 26 17, 23_54 #6</string>
    </array>
    <array>
      <string>May 27 17, 20:59 #2</string>
      <string>glyphs.M_ay 27 17, 20_59 #2</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:12 #4</string>
      <string>glyphs.R_egular A_pr 27 17, 20_12 #4</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:12 #5</string>
      <string>glyphs.R_egular A_pr 27 17, 20_12 #5</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:12 #6</string>
      <string>glyphs.R_egular A_pr 27 17, 20_12 #6</string>
    </array>
    <array>
      <string>Apr 27 17, 17:44 #4</string>
      <string>glyphs.A_pr 27 17, 17_44 #4</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:02 #4</string>
      <string>glyphs.R_egular A_pr 27 17, 20_02 #4</string>
    </array>
    <array>
      <string>Apr 27 17, 17:44 #5</string>
      <string>glyphs.A_pr 27 17, 17_44 #5</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:02 #5</string>
      <string>glyphs.R_egular A_pr 27 17, 20_02 #5</string>
    </array>
    <array>
      <string>Apr 27 17, 17:44 #6</string>
      <string>glyphs.A_pr 27 17, 17_44 #6</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 20:02 #6</string>
      <string>glyphs.R_egular A_pr 27 17, 20_02 #6</string>
    </array>
    <array>
      <string>Apr 27 17, 21:56 #4</string>
      <string>glyphs.A_pr 27 17, 21_56 #4</string>
    </array>
    <array>
      <string>Apr 27 17, 21:56 #5</string>
      <string>glyphs.A_pr 27 17, 21_56 #5</string>
    </array>
    <array>
      <string>Apr 27 17, 21:56 #6</string>
      <string>glyphs.A_pr 27 17, 21_56 #6</string>
    </array>
    <array>
      <string>Apr 27 17, 19:58 #4</string>
      <string>glyphs.A_pr 27 17, 19_58 #4</string>
    </array>
    <array>
      <string>Apr 27 17, 19:58 #5</string>
      <string>glyphs.A_pr 27 17, 19_58 #5</string>
    </array>
    <array>
      <string>Apr 27 17, 19:58 #6</string>
      <string>glyphs.A_pr 27 17, 19_58 #6</string>
    </array>
    <array>
      <string>May 29 17, 15:39 #2</string>
      <string>glyphs.M_ay 29 17, 15_39 #2</string>
    </array>
    <array>
      <string>Apr 17 17, 12:42 #4</string>
      <string>glyphs.A_pr 17 17, 12_42 #4</string>
    </array>
    <array>
      <string>Apr 17 17, 12:48 #4</string>
      <string>glyphs.A_pr 17 17, 12_48 #4</string>
    </array>
    <array>
      <string>Apr 17 17, 12:42 #5</string>
      <string>glyphs.A_pr 17 17, 12_42 #5</string>
    </array>
    <array>
      <string>Apr 17 17, 12:48 #5</string>
      <string>glyphs.A_pr 17 17, 12_48 #5</string>
    </array>
    <array>
      <string>Apr 17 17, 12:42 #6</string>
      <string>glyphs.A_pr 17 17, 12_42 #6</string>
    </array>
    <array>
      <string>Apr 17 17, 12:48 #6</string>
      <string>glyphs.A_pr 17 17, 12_48 #6</string>
    </array>
    <array>
      <string>Mar 14 18, 00:46</string>
      <string>glyphs.M_ar 14 18, 00_46</string>
    </array>
    <array>
      <string>Apr 17 17, 11:00 #4</string>
      <string>glyphs.A_pr 17 17, 11_00 #4</string>
    </array>
    <array>
      <string>Apr 17 17, 11:48 #4</string>
      <string>glyphs.A_pr 17 17, 11_48 #4</string>
    </array>
    <array>
      <string>Apr 17 17, 11:00 #5</string>
      <string>glyphs.A_pr 17 17, 11_00 #5</string>
    </array>
    <array>
      <string>Apr 17 17, 11:48 #5</string>
      <string>glyphs.A_pr 17 17, 11_48 #5</string>
    </array>
    <array>
      <string>Apr 17 17, 11:00 #6</string>
      <string>glyphs.A_pr 17 17, 11_00 #6</string>
    </array>
    <array>
      <string>Apr 17 17, 11:48 #6</string>
      <string>glyphs.A_pr 17 17, 11_48 #6</string>
    </array>
    <array>
      <string>May 30 17, 01:12 #2</string>
      <string>glyphs.M_ay 30 17, 01_12 #2</string>
    </array>
    <array>
      <string>Jun 7 17, 17:31</string>
      <string>glyphs.J_un 7 17, 17_31</string>
    </array>
    <array>
      <string>Jun 7 17, 17:32</string>
      <string>glyphs.J_un 7 17, 17_32</string>
    </array>
    <array>
      <string>Bold Jun 7 17, 17:32</string>
      <string>glyphs.B_old J_un 7 17, 17_32</string>
    </array>
    <array>
      <string>Jun 7 17, 17:26</string>
      <string>glyphs.J_un 7 17, 17_26</string>
    </array>
    <array>
      <string>Jun 7 17, 17:23</string>
      <string>glyphs.J_un 7 17, 17_23</string>
    </array>
    <array>
      <string>Jun 10 17, 11:22</string>
      <string>glyphs.J_un 10 17, 11_22</string>
    </array>
    <array>
      <string>Jun 10 17, 11:24</string>
      <string>glyphs.J_un 10 17, 11_24</string>
    </array>
    <array>
      <string>Bold Jun 10 17, 11:28</string>
      <string>glyphs.B_old J_un 10 17, 11_28</string>
    </array>
    <array>
      <string>Jun 10 17, 11:28</string>
      <string>glyphs.J_un 10 17, 11_28</string>
    </array>
    <array>
      <string>Jun 10 17, 11:30</string>
      <string>glyphs.J_un 10 17, 11_30</string>
    </array>
    <array>
      <string>Jun 10 17, 11:30 #1</string>
      <string>glyphs.J_un 10 17, 11_30 #1</string>
    </array>
    <array>
      <string>Jan 20 18, 02:31</string>
      <string>glyphs.J_an 20 18, 02_31</string>
    </array>
    <array>
      <string>Jun 19 17, 12:51</string>
      <string>glyphs.J_un 19 17, 12_51</string>
    </array>
    <array>
      <string>Nov 22 17, 10:08</string>
      <string>glyphs.N_ov 22 17, 10_08</string>
    </array>
    <array>
      <string>Jun 10 17, 11:05</string>
      <string>glyphs.J_un 10 17, 11_05</string>
    </array>
    <array>
      <string>Bold Jun 10 17, 16:59</string>
      <string>glyphs.B_old J_un 10 17, 16_59</string>
    </array>
    <array>
      <string>Jun 14 17, 14:58</string>
      <string>glyphs.J_un 14 17, 14_58</string>
    </array>
    <array>
      <string>Jun 14 17, 15:15</string>
      <string>glyphs.J_un 14 17, 15_15</string>
    </array>
    <array>
      <string>Bold Jun 19 17, 15:49</string>
      <string>glyphs.B_old J_un 19 17, 15_49</string>
    </array>
    <array>
      <string>Jun 19 17, 13:28</string>
      <string>glyphs.J_un 19 17, 13_28</string>
    </array>
    <array>
      <string>Jun 21 17, 13:11</string>
      <string>glyphs.J_un 21 17, 13_11</string>
    </array>
    <array>
      <string>Jun 20 17, 23:25</string>
      <string>glyphs.J_un 20 17, 23_25</string>
    </array>
    <array>
      <string>Jun 21 17, 13:43</string>
      <string>glyphs.J_un 21 17, 13_43</string>
    </array>
    <array>
      <string>Jun 21 17, 14:05</string>
      <string>glyphs.J_un 21 17, 14_05</string>
    </array>
    <array>
      <string>Bold Jun 14 17, 13:18</string>
      <string>glyphs.B_old J_un 14 17, 13_18</string>
    </array>
    <array>
      <string>Bold Jun 14 17, 13:59</string>
      <string>glyphs.B_old J_un 14 17, 13_59</string>
    </array>
    <array>
      <string>Apr 4 17, 00:47</string>
      <string>glyphs.A_pr 4 17, 00_47</string>
    </array>
    <array>
      <string>Apr 4 17, 00:47 #1</string>
      <string>glyphs.A_pr 4 17, 00_47 #1</string>
    </array>
    <array>
      <string>Apr 22 17, 15:23</string>
      <string>glyphs.A_pr 22 17, 15_23</string>
    </array>
    <array>
      <string>Apr 4 17, 00:47 #2</string>
      <string>glyphs.A_pr 4 17, 00_47 #2</string>
    </array>
    <array>
      <string>Apr 4 17, 00:47 #3</string>
      <string>glyphs.A_pr 4 17, 00_47 #3</string>
    </array>
    <array>
      <string>Apr 22 17, 15:23 #1</string>
      <string>glyphs.A_pr 22 17, 15_23 #1</string>
    </array>
    <array>
      <string>Apr 4 17, 00:47 #4</string>
      <string>glyphs.A_pr 4 17, 00_47 #4</string>
    </array>
    <array>
      <string>Apr 4 17, 00:47 #5</string>
      <string>glyphs.A_pr 4 17, 00_47 #5</string>
    </array>
    <array>
      <string>Apr 22 17, 15:23 #2</string>
      <string>glyphs.A_pr 22 17, 15_23 #2</string>
    </array>
    <array>
      <string>Apr 4 17, 00:47 #6</string>
      <string>glyphs.A_pr 4 17, 00_47 #6</string>
    </array>
    <array>
      <string>Apr 4 17, 00:47 #7</string>
      <string>glyphs.A_pr 4 17, 00_47 #7</string>
    </array>
    <array>
      <string>Apr 22 17, 15:23 #3</string>
      <string>glyphs.A_pr 22 17, 15_23 #3</string>
    </array>
    <array>
      <string>Nov 29 17, 10:01</string>
      <string>glyphs.N_ov 29 17, 10_01</string>
    </array>
    <array>
      <string>ATL</string>
      <string>glyphs.A_T_L_</string>
    </array>
    <array>
      <string>Nov 29 17, 10:08</string>
      <string>glyphs.N_ov 29 17, 10_08</string>
    </array>
    <array>
      <string>Jun 19 17, 13:19</string>
      <string>glyphs.J_un 19 17, 13_19</string>
    </array>
    <array>
      <string>Oct 27 17, 10:22</string>
      <string>glyphs.O_ct 27 17, 10_22</string>
    </array>
    <array>
      <string>Nov 29 17, 10:03</string>
      <string>glyphs.N_ov 29 17, 10_03</string>
    </array>
    <array>
      <string>Bold Feb 2 18, 01:12</string>
      <string>glyphs.B_old F_eb 2 18, 01_12</string>
    </array>
    <array>
      <string>Bold Feb 8 18, 02:13</string>
      <string>glyphs.B_old F_eb 8 18, 02_13</string>
    </array>
    <array>
      <string>Jun 5 17, 18:14</string>
      <string>glyphs.J_un 5 17, 18_14</string>
    </array>
    <array>
      <string>Jun 5 17, 18:15</string>
      <string>glyphs.J_un 5 17, 18_15</string>
    </array>
    <array>
      <string>Jun 21 17, 12:59</string>
      <string>glyphs.J_un 21 17, 12_59</string>
    </array>
    <array>
      <string>Jun 21 17, 13:49</string>
      <string>glyphs.J_un 21 17, 13_49</string>
    </array>
    <array>
      <string>Regular Apr 5 17, 16:25</string>
      <string>glyphs.R_egular A_pr 5 17, 16_25</string>
    </array>
    <array>
      <string>Regular Apr 5 17, 16:25 #1</string>
      <string>glyphs.R_egular A_pr 5 17, 16_25 #1</string>
    </array>
    <array>
      <string>Regular Apr 5 17, 16:25 #2</string>
      <string>glyphs.R_egular A_pr 5 17, 16_25 #2</string>
    </array>
    <array>
      <string>Regular Apr 5 17, 16:25 #3</string>
      <string>glyphs.R_egular A_pr 5 17, 16_25 #3</string>
    </array>
    <array>
      <string>Regular Apr 5 17, 16:25 #4</string>
      <string>glyphs.R_egular A_pr 5 17, 16_25 #4</string>
    </array>
    <array>
      <string>Regular Apr 5 17, 16:25 #5</string>
      <string>glyphs.R_egular A_pr 5 17, 16_25 #5</string>
    </array>
    <array>
      <string>Regular Apr 5 17, 16:25 #6</string>
      <string>glyphs.R_egular A_pr 5 17, 16_25 #6</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 22:51</string>
      <string>glyphs.R_egular A_pr 27 17, 22_51</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 22:51 #1</string>
      <string>glyphs.R_egular A_pr 27 17, 22_51 #1</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 22:51 #2</string>
      <string>glyphs.R_egular A_pr 27 17, 22_51 #2</string>
    </array>
    <array>
      <string>Regular Apr 27 17, 22:51 #3</string>
      <string>glyphs.R_egular A_pr 27 17, 22_51 #3</string>
    </array>
    <array>
      <string>Light May 25 17, 15:29</string>
      <string>glyphs.L_ight M_ay 25 17, 15_29</string>
    </array>
    <array>
      <string>Apr 6 17, 18:55</string>
      <string>glyphs.A_pr 6 17, 18_55</string>
    </array>
    <array>
      <string>Apr 6 17, 18:55 #1</string>
      <string>glyphs.A_pr 6 17, 18_55 #1</string>
    </array>
    <array>
      <string>Apr 6 17, 18:55 #2</string>
      <string>glyphs.A_pr 6 17, 18_55 #2</string>
    </array>
    <array>
      <string>Apr 6 17, 18:55 #3</string>
      <string>glyphs.A_pr 6 17, 18_55 #3</string>
    </array>
  </array>
</plist>
