<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.sc</key>
    <string>A_.sc.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.sc</key>
    <string>M_.sc.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.sc</key>
    <string>V_.sc.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
